/*------------------------------------------------------------
footer
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.l-footer{

	//-------------------------------------------------------
	&__contact{
		background: #33c49d;
	}

	//-------------------------------------------------------
	&__coppy{
		background: #3c3c3c;
		text-align: center;
		padding-top:2px;
		@include sp{
			padding-top: 0;
		}
		p{
			color: #fff;
			font-size: 1.2rem;
			line-height: 40px;
			@include sp{
				font-size: 1rem;
				line-height: 2rem;
			}
		}
	}

	//-------------------------------------------------------
	&__gototop{
		position: fixed;
	    width: 100%;
	    bottom: 0;
	    left: 0;
	}
}

/*
------------------------------------------------------------*/
.l-gototop{
	position: relative;

	//-------------------------------------------------------
	img{
		position: absolute;
		    top: -209px;
    		right: -168px;
    		opacity:0;
    		transition: opacity 300ms;
    		@include sp{
    			width: 50px;
    			height: 50px;
    			right: 14px;
    			top: -100px;
    		}
	}
}

/*
------------------------------------------------------------*/
.c-footer{
	padding-top: 50px;
	padding-bottom: 54px;
	@include sp{
		padding-top: 29px;
		padding-bottom: 29px;
	}

	//-------------------------------------------------------
	&__image{
		text-align: center;
		@include sp{
			img{
				width: 240px;
			}
		}
	}

	//-------------------------------------------------------
	&__cir{
		width: 50px;
		height: 50px;
		border-radius: 50%;
		background: #777777;
		display: flex;
		@include sp{
			width: 32px;
			height: 31px;
		}
		p{
			color: #fff;
			font-weight: bold;
			font-size: 1rem;
			margin: auto;
			padding: 0;
			@include sp{
				font-size: 0.604rem;
				line-height: 2.371rem;
			}
		}
	}

	//-------------------------------------------------------
	&__text{
		margin-top: 24px;
		text-align: center;
		p{
			color: #fff;
			font-size: 15px;
			line-height: 24px;
			@include sp{
				font-size: 1.2rem;
				line-height: 1.5rem;
				padding: 0 19px;
			}
		}
	}
}