/*------------------------------------------------------------
layout
------------------------------------------------------------*/

/*
------------------------------------------------------------*/

.l-out{
	width: 1920px;
	margin: 0 auto;
	@include sp{
		width: 100%;
	}
}

/*
------------------------------------------------------------*/
.l-container{
	width: 1440px;
	margin: 0 auto;
	@include sp{
		width: 100%;
	}
}
