/*------------------------------------------------------------
index
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
body{
	min-width:1920px;
	@include sp{
		min-width:320px;
	}
}

/*
------------------------------------------------------------*/
.c-picmain{
	background: url(../image/index/in-01.png) no-repeat center;
	text-align: right;
	padding-top: 229px;
    padding-bottom: 226px;
    @include sp{
    	background: url(../image/index/sp-01.png) no-repeat center;
    	background-size: 100% 100%;
    	padding-top: 0;
    	padding-bottom: 51px;
    }
}

/*
------------------------------------------------------------*/
.c-logobox1{
	display: inline-flex;
	flex-direction: column;
	margin-right: -112px;
	@include sp{
		margin-right: 0;
		display: flex;
		flex-direction: row;
	}

	//-------------------------------------------------------
	&__b1{
		background: #fff;
		display: flex;
		justify-content: flex-end;
		padding: 42px 30px 38px 39px;
		@include sp{
			background: rgba(13, 130, 175, 0.88);
			padding: 0;
			justify-content: center;
			width: 49.5%;
    		padding-top: 17px;
    		padding-bottom: 21px;
		}
	}

	//-------------------------------------------------------
	&__img1{
		&:last-child {
			margin-left: 22px;
			margin-top: 2px;
			@include sp{
				margin: 0 8px 0 0;
			}
		}
		&:nth-child(2) {
			margin-left: 34px;

		}
		@include sp{
			img{
				width: 129px;
			}
		}
	}

	//-------------------------------------------------------
	&__b2{
		display: flex;
		@include sp{
			flex-direction: column;
			    width: 50.5%;
		}
	}

	//-------------------------------------------------------
	&__img2{
		background: #10222b;
		padding: 34px 55px 33px 55px;
		@include sp{
			padding: 11px 0;
			text-align: center;
			img{
				width: 108px;
			}
		}
	}

	//-------------------------------------------------------
	&__img3{
	    text-align: left;
	    flex: 1;
	    padding-left: 51px;
	    padding-top: 32px;
    	background-image: linear-gradient(to right,rgba(95, 211, 161,0.9),rgba(14, 167, 205,1));
    	@include sp{
    		text-align: center;
    		padding: 13px 0 0;
    		img{
    			width: 136px;
    		}
    	}

	}
}

/*
------------------------------------------------------------*/
.c-logobox2{
	@include sp{
		padding-top: 208px;
		width: 280px;
		margin: 0 auto;
	}
}

/*
------------------------------------------------------------*/
.c-in2{
	background: url(../image/index/bg.jpg);
	position: relative;
    padding-top: 59px;
	padding-bottom: 130px;
	@include sp{
	 	padding-top: 138px;
	 	padding-bottom: 50px;
	 }

	 //-------------------------------------------------------
	&__title{
	    position: absolute;
		top: -41.5%;
		@include sp{
			background: url(../image/index/sp-04.png);
			background-size: 100% 100%;
			padding: 50px 0;
			width: 100%;
			top: -20px;
		}
	}

	//-------------------------------------------------------
	&__img1{
		position: relative;
	}

	//-------------------------------------------------------
	&__ttl{
		position: absolute;
	    top: 134px;
		left: 79px;
		@include sp{
			top: 30px;
			left: 30%;
			position: unset;
			display: flex;
		    flex-direction: column;
		    align-items: center;
			img{
				width: 143px;
			}
		}

		p{
			font-size: 3rem;
			line-height: 27px;
			color:#fff;
			margin-top: 27px;
    		margin-left: 50px;
    		letter-spacing:1px;
    		position: relative;
    		@include sp{
    			font-size: 1.6rem;
    			line-height: 1.4rem;
    			margin: 0;
    			padding-left: 26px;
    			padding-top: 11px;

    		}
			&:before {
				content: "";
				width: 34px;
				height: 30px;
				display: inline-block;
				background: url(../image/index/in-12.png);
				position: absolute;
				top: -3px;
				left: -21%;
				@include sp{
					width: 17px;
					height: 15px;
					top: 9px;
    				left: 3px;
					background-size: contain;
				}
			}
		}
	}

	//-------------------------------------------------------
	&__box{
		display: flex;
		margin-left: -10px;
	    margin-right: -10px;
	    justify-content: space-between;
	    @include sp{
	    	margin: 0 10px;
	    	flex-wrap: wrap;
	    }
	}
	&__imgbox{
		position: relative;
		@include sp{
			width: 49.5%;
			margin-bottom: 15px;
			img{
				width: 100%;
			}
			&:first-child{
				width: 100%;
			}
		}
	}

	//-------------------------------------------------------
	&__btn{
		    margin-top: 40px;
		    @include sp{
		    	margin-top: 15px;
		    	padding: 0 20px;
		    }
	}
}


/*
------------------------------------------------------------*/
.p-in3{
	padding-top: 122px;
	@include sp{
		padding-top: 50px;
	}

	//-------------------------------------------------------
	.c-table1{
		&--fz2{
			margin-top: 40px;
			@include sp{
				margin-top: 0;
			}
		}
	}

	//-------------------------------------------------------
	.c-title1{
		&__img1{
			@include sp{
				width: 56px;
			}
		}
	}
}



/*
------------------------------------------------------------*/
.c-in3{
	$root:&;
	display: flex;
	margin-top: 19px;
	@include sp{
		flex-wrap: wrap;
		padding: 0px 25px 0px 15px;
	}

	//-------------------------------------------------------
	&__txt{
		font-size: 1.5rem;
		line-height: 24px;
		flex:1;
		margin-left: 11px;
		@include sp{
			font-size: 1.2rem;
			line-height: 1.5rem;
			text-align: center;
			padding: 11px 10px 15px;
			margin-left: 0;
		}
	}

	//-------------------------------------------------------
	&__con{
		width: 43%;
		display: flex;
		align-items: center;
		@include sp{
			width: 100%;
			flex-wrap: wrap;
			//margin: 0 auto;
		}
		&:nth-child(2) {
			// margin-left: 20px;
			#{$root}__txt{
				margin-left: 13px;
				@include sp{
					margin-left: 0;
				}
			}
			@include sp{
				margin: 0;
			}
		}
	}

	// //-------------------------------------------------------
	// .c-lab1{
	// 	margin-right: 11px;
	// 	@include sp{
	// 		margin-right: 0;
	// 	}

	// 	&--cl2{
	// 		margin-right: 13px;
	// 		@include sp{
	// 			margin-right: 0;
	// 		}
	// 	}
	// }
}

/*
------------------------------------------------------------*/
.p-in4{
	margin-top: 122px;
	@include sp{
		margin-top: 48px;
	}
}

/*
------------------------------------------------------------*/
.c-in4{
	background: url(../image/index/in-20.png) no-repeat center;
	color:#fff;
	padding-top: 179px;
	padding-bottom: 200px;
	text-align: center;
	@include sp{
		background: url(../image/index/sp-07.png) no-repeat center;
		background-size: 100%;
		padding-top: 73px;
		padding-bottom: 91px;
	}

	//-------------------------------------------------------
	&__txt1{
		font-size: 3.2rem;
		line-height: 27px;
		margin-bottom: 32px;
		margin-left: 65px;
		letter-spacing: 0.18rem;
		@include sp{
			font-size: 1.6rem;
			line-height: 1.35rem;
			margin-left: 0;
			margin-bottom: 27px;
		}
	}

	//-------------------------------------------------------
	&__txt2{
		margin-bottom: 58px;
		margin-left: 74px;
		display: flex;
    	align-items: center;
    	justify-content: center;
    	@include sp{
    		margin: 0;
    		    flex-wrap: wrap;
    		img{
    			width: 172px;
    		}
    	}

		span{
			font-size: 4.8rem;
			line-height: 27px;
			margin-left: 15px;
			margin-top: 10px;
			letter-spacing: 1.5px;
			@include sp{
    			font-size: 2.8rem;
    			line-height: 1.35rem;
    			margin-left: 0;
    			margin-top: 20px;
    		}
		}
	}

	//-------------------------------------------------------
	&__txt3{
		font-size: 1.8rem;
		line-height: 27px;
		margin-bottom: 24px;
		padding-left: 74px;
		@include sp{
			padding-left: 0;
			font-size: 1.2rem;
			line-height: 1.8rem;
			margin-bottom: 0;
			padding: 25px 0 26px;
		}
	}

	//-------------------------------------------------------
	&__sub{
		margin-top: 12px;
		@include sp{
			margin-top: -1px;
		}
		p{
			font-size: 1.3rem;
			line-height: 18px;
			@include sp{
				font-size: 1rem;
				line-height: 1.35rem;
			}
		}
	}

	//-------------------------------------------------------
	&__btn{
		display: flex;
		justify-content: center;
		@include sp{
			flex-wrap: wrap;
		}
	}

	//-------------------------------------------------------
	&__contact{
		padding: 0 20px;
	}
}

/*
------------------------------------------------------------*/
.p-in5{
	margin-top: -20px;
	@include sp{
		margin-top: 20px;
	}
}

/*
------------------------------------------------------------*/
.p-in5intro{

	//-------------------------------------------------------
	.c-title1{
		margin-bottom: 50px;
		@include sp{
			margin-bottom: 25px;
		}

		&__circle{
			margin-left: 21px;
			margin-right: 22px;
			@include sp{
				margin-left: 5px;
				margin-right: 6px;
			}
		}

		&__img1{
			@include sp{
				width: 143px;
			}
		}
	}
}

/*
------------------------------------------------------------*/
.p-in5guild{
	margin-top: 120px;
	@include sp{
		margin-top: 30px;
	}

	//-------------------------------------------------------
	.c-title1{
		margin-bottom: 50px;
		@include sp{
			margin-bottom: 27px;
		}

		&__circle{
			margin-left: 15px;
			margin-right: 22px;
			@include sp{
				margin-left: 7px;
				margin-right: 9px;
			}
		}

		&__img1{
			@include sp{
				width: 85px;
			}
		}
	}
}
/*
------------------------------------------------------------*/
.c-in5{

	//-------------------------------------------------------
	&__dumimg{
		display: flex;
		justify-content: space-between;
		@include sp{
			padding: 0 20px;
			flex-wrap:wrap;
		}
	}

	//-------------------------------------------------------
	&__profile{
		@include sp{
			padding: 21px;
		}
	}
}

/*
------------------------------------------------------------*/
.p-in6{
	margin-top: 139px;
	margin-bottom: 100px;
	@include sp{
		margin-top: 56px;
		margin-bottom: 40px;
	}

	//-------------------------------------------------------
	.c-title1{
		margin-bottom: 69px;
		justify-content: flex-start;
		padding-left: 240px;
		@include sp{
			margin-bottom: 28px;
			justify-content: center;
			padding-left: 0;
		}
	}
}

/*
------------------------------------------------------------*/
.c-in6{
	display: flex;
	margin:0 -240px;
	@include sp{
		margin: 0;
		flex-wrap: wrap;
		padding-left: 18px;
	    padding-right: 22px;
	}

	//-------------------------------------------------------
	iframe{
		width: 100%;
		height:100%;
	}

	//-------------------------------------------------------
	&__map{

		width: 1100px;
		height: 480px;
		@include sp{
			width: 100%;
			// height: auto;
			height: 240px;
		}
	}

	//-------------------------------------------------------
	&__mapinfo{
		background: #10222b;
		padding-left: 60px;
		padding-top: 84px;
		padding-bottom: 74px;
		padding-right: 240px;
		margin-left: 60px;
		@include sp{
			margin: 0;
			    padding: 15px 0;
		}
	}

	//-------------------------------------------------------
	&__right{
		margin-left: -20px;
		background: url(../image/index/in-38.png) no-repeat;
		background-position-y: 80px;
		@include sp{
			margin-left: 0;
			background: none;
			width: 100%;
		}
	}

	//-------------------------------------------------------
	&__left{
		@include sp{
			width: 100%;
		}
	}
}

/*
------------------------------------------------------------*/
.p-in7{
	background: #eeeeee;
	    padding-top: 100px;
    padding-bottom: 85px;
    @include sp{
    	padding-top: 39px;
    	padding-bottom: 36px;
    }

    //-------------------------------------------------------
	.c-title2{
	    margin-bottom: 49px;
	    @include sp{
	    	margin-bottom: 23px;
	    }

		p{
			margin-top: 16px;
			@include sp{
				margin-top: 9px;
			}
		}
	}
}

/*
------------------------------------------------------------*/
.c-in7{
	text-align: center;
	p{
		font-size: 1.5rem;
		line-height: 40px;
		@include sp{
			font-size: 1.2rem;
			line-height: 2rem;
		}
	}
}