/*------------------------------------------------------------
btn
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-btn1{
	width: 474px;
	background: #ff1e5b;
	margin: 0 auto;
	text-align: center;
	border-radius: 50px;
	@include sp{
		width: 100%;
	}

	//-------------------------------------------------------
	a{
		text-decoration: none;
		color:#fff;
		display: block;
		padding: 25px 0;
		@include sp{
			padding: 17px 0 14px;
		}
	}

	//-------------------------------------------------------
	span{
		font-size: 1.8rem;
		line-height: 27px;
		position: relative;
		display: inline-block;
		margin-left: 44px;
    	letter-spacing: 1px;
    	@include sp{
    		font-size: 1.2rem;
    		line-height: 1.35rem;
    		margin-left: 0;
    		padding-left: 28px;
    	}
		&:before {
			content: "";
			width: 10px;
			height: 10px;
			display: block;
			border-right: 2px solid #fff;
			border-bottom: 2px solid #fff;
			transform:rotate(-45deg);
			position: absolute;
			left: -13%;
    		top: 8px;
    		@include sp{
    			width: 8px;
				height: 8px;
				top: 1px;
    			left: 4px;
    		}

		}
	}
}

/*
------------------------------------------------------------*/
.c-btn2{
	width: 420px;
	height: 90px;
	border: 1px solid #fff;
	border-radius: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: center;
	background: rgba(0,0,0,0.3);
	@include sp{
		width: 280px;
		height: 50px;
		margin-bottom: 12px;
		img{
			width: 113px;
		}
	}

	//-------------------------------------------------------
	span{
		padding-left: 36px;
    	letter-spacing: 1px;
		@include sp{
			padding-left: 12px;
		}
	}

	//-------------------------------------------------------
	p{
		font-size: 1.5rem;
		line-height: 27px;
		font-weight: bold;
		text-align: center;
		margin-left: 1px;
	    margin-top: -7px;
	    margin-bottom: 2px;
	    letter-spacing: 1px;
	    @include sp{
	    	font-size: 1.4rem;
	    	line-height: 1.35rem;
	    	margin: 0px 0px 5px;
	    }
	}
}