/*------------------------------------------------------------
title
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-title1{
	display: flex;
	align-items: center;
	justify-content: center;

	//-------------------------------------------------------
	&__circle{
		width: 68px;
		height: 68px;
		border-radius: 50%;
		background: #10222b;
		margin-left: 14px;
		margin-right: 15px;
		display: flex;
		@include sp{
			width: 34px;
			height: 34px;
			margin-left: 7px;
			margin-right: 9px;
		}

	    p{
	    	color:#fff;
	    	font-size: 1.5rem;
	    	line-height: 27px;
	    	font-weight: bold;
	    	margin: auto;
	    	@include sp{
	    		font-size: 0.75rem;
	    		line-height: 1.35rem;
	    	}
	    }
	}

	//-------------------------------------------------------
	&__txt{
		p{
			font-size: 5.6rem;
			line-height: 27px;
			@include sp{
				font-size: 2.8rem;
				line-height: 1.35rem;
			}
		}
	}
}

/*
------------------------------------------------------------*/
.c-title2{
	text-align: center;

	//-------------------------------------------------------
	p{
		font-size: 3.2rem;
		line-height: 27px;
		@include sp{
			font-size: 1.6rem;
			line-height: 1.35rem;
		}
	}

	//-------------------------------------------------------
	&__img{
		@include sp{
			width: 171px;
			margin: 0 auto;
		}
	}
}