/*------------------------------------------------------------
navi
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-nav1{
	padding: 35px 0;

	//-------------------------------------------------------
	ul{
		display: flex;
		justify-content: flex-end;
		padding-right: 60px;
	}

	//-------------------------------------------------------
	a{
		text-decoration: none;
		font-size: 1.8rem;
		line-height: 27px;
		color: #000;
	}

	//-------------------------------------------------------
	li{
		&:before {
			content: "";
			background: url(../image/index/in-09.png) no-repeat;
			width: 15px;
			height: 9px;
			display: inline-block;
			margin-right: 10px;
			margin-top: -1px;
		}

		&:nth-child(2) {
			margin-left: 47px;
		}

		&:nth-child(n+3) {
			margin-left: 42px;
		}

		&:last-child {
			margin-left: 45px;
		}
	}
}
