/*------------------------------------------------------------
table
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-table1{
	$root:&;
	width: 100%;
	border-spacing: 0;
	margin-top: 49px;
	@include sp{
		margin-top: 30px;
	}

	//-------------------------------------------------------
	th{
		background: #10222b;
		color:#fff;
		font-size: 2rem;
		letter-spacing:1px;
		line-height: 27px;
		 padding-top: 11px;
    	padding-bottom: 12px;
    	@include sp{
    		font-size: 1.6rem;
    		line-height: 1.6rem;
    		padding: 15px 0 14px;
    	}

	}

	//-------------------------------------------------------
	td{
		border: 1px solid #c8c8c8;
		display: flex;
		padding: 29px 0;
		@include sp{
			border: 0;
			padding: 20px 15px 30px;
			justify-content: space-between;
		}
	}

	//-------------------------------------------------------
	&__left,&__right{
		display: flex;
		align-items: center;
		width: 50%;
		@include sp{
			flex-direction: column;
			width: 48%;
		}
	}

	//-------------------------------------------------------
	&__left{
		justify-content: flex-end;
		padding-right: 43px;
		@include sp{
			justify-content: normal;;
			padding-right: 0;
		}
	}

	//-------------------------------------------------------
	&__right{
		padding-left: 39px;
		@include sp{
			padding-left: 0;
		}
		#{$root}__price{
			margin-right: 13px;
			@include sp{
				margin-right: 0;
			}
		}
	}

	//-------------------------------------------------------
	&__price{
		margin-left: 8px;
	    margin-top: 4px;
	    margin-right: 10px;
	    @include sp{
	    	margin: 10px 0 5px;
	    	width: 95px;
	    	height: 22px;
	    }
	}

	//-------------------------------------------------------
	&--fz2{
		font-size: 2rem;
		line-height: 24px;
		th{
			letter-spacing:0.01rem;
		}
	}

	//-------------------------------------------------------
	&__cost{
		@include sp{
			width: 87px;
			height: 45px;
			margin-left: -19px;
    		margin-top: 1px;
		}
	}
}

/*
------------------------------------------------------------*/
.c-table2{
	width: 100%;
	border-spacing: 0;
	text-align: center;
	border-collapse: collapse;
	border: 1px solid #c8c8c8;

	//-------------------------------------------------------
	th{
		background: #dddddd;
		font-size: 1.5rem;
		line-height: 24px;
		padding-top: 9px;
    	padding-bottom: 13px;
    	&:first-child {
    		width: 40.8%;
    	}
    	&:nth-child(n+2) {
    		width: 19.8%;
    	}
    	&:last-child {
    		width: auto;
    	}
	}

	//-------------------------------------------------------
	tbody{
		tr{
			&:nth-child(2n+2) {
				background: #f8f8f8;
			}
		}

		td:first-child {
			text-align: left;
			padding-left: 29px;
			p{
				display: inline-block;
				vertical-align: middle;
				&:first-child {
					    width: 130px;
    					margin-right: 103px;
					font-weight: bold;
				}
				&:last-child {
					font-weight: normal;
				}
			}
		}
		
		tr{
			&:nth-child(n+4) {
				p:last-child{
					margin-left: -4px;
					margin-top: 1px;
				}
			}
			&:nth-child(3) {
				td{
					padding-top: 10px;
				}
			}
			&:nth-child(7) {
				td{
					padding-top: 8px;
					padding-bottom: 10px;
				}
				p:last-child{
					margin-top: 6px;
				}
			}
		}
	}

	//-------------------------------------------------------
	td{
		border: 1px solid #c8c8c8;
		font-size: 1.5rem;
		line-height: 24px;
		font-weight: bold;
  		padding-top: 9px;
    	padding-bottom: 13px;

		span{
			font-weight: normal;
			display: inline-block;
			vertical-align: middle;
		}
	}
}


/*
------------------------------------------------------------*/
.c-table3{
	color:#fff;
	border-spacing: 0;
	@include sp{
		width: 100%;
		padding: 0 15px;
	}

	//-------------------------------------------------------
	th,td{
		font-weight: bold;
		font-size: 1.5rem;
		text-align: left;
		border-bottom: 1px solid #636f75;
		vertical-align: top;
		padding-top: 11px;
    	padding-bottom: 8px;
		line-height: 20px;
		@include sp{
			width: 100%;
			display: block;
			text-align: center;
			line-height: normal;
			padding: 0;
		}
	}

	//-------------------------------------------------------
	th{
		position: relative;
		padding-left:23px;
		width: 35%;
		@include sp{
			width: 100%;
			font-size: 1.4rem;
			border: none;
			padding-left: 0;
			padding-top: 9px;
			padding-bottom: 5px;
		}

		img{
			position: absolute;
			top: 13px;
    		left: 1px;
    		@include sp{
    			display: none;
    		}
		}
	}

	//-------------------------------------------------------
	tr{
		&:last-child {
			th,td{
				border-bottom: unset;
			}
		}
	}

	//-------------------------------------------------------
	td{
		@include sp{
			font-size: 1.2rem;
			line-height: 1.5rem;
			padding-bottom: 12px;
			font-weight: normal;
		}
	}
}