/*------------------------------------------------------------
other
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-pointer{
	width:172px;
	height: 60px;
	display: flex;
	position: relative;
	background: linear-gradient(to right, #50d1a1, #0dacd5);
	margin-right: 20px;
	@include sp{
		margin-right: 0;
		width: 100%;
		height: auto;
		padding: 9px 0;
	}

	//-------------------------------------------------------
	&:before {
		content: "";
		position: absolute;
		right: -20px;
		bottom:0;
		width: 0;
		height: 0;
		border-left: 20px solid #0dacd5;
		border-top: 30px solid transparent;
		border-bottom: 30px solid transparent;
		@include sp{
			display: none;
		}
	}

	//-------------------------------------------------------
	span{
		font-size: 2.1rem;
		line-height: 27px;
		color: #fff;
		margin: auto;
		font-weight: bold;
		letter-spacing: 1px;
    	padding-left: 12px;
    	@include sp{
    		font-size: 1.3rem;
    		line-height: 1.35rem;
    		padding-left: 0;
    	}
	}
}

/*
------------------------------------------------------------*/
.c-break{
	font-weight: bold !important;
	position: relative;
	&:after {
		content: "";
		border-top: 1px solid #ff1e5b;
		width: 100%;
		display: inline-block;
		position: absolute;
		top: 11px;
	    right: 0;
	    transform: rotate(-6deg);
	}
}

/*
------------------------------------------------------------*/
.c-lab1{
	font-size: 1.5rem;
	line-height: 24px;
	font-weight: bold;
	background: #33c49d;
	display: inline-block;
	padding: 4px 20px 4px 18px;
	@include sp{
		width: 100%;
		padding: 8px 0;
		text-align: center;
		font-size: 1.3rem;
		line-height: 1.35rem;
	}

	//-------------------------------------------------------
	span{
		color:#fff;
	}

	//-------------------------------------------------------
	&--cl2{
		background: #0080ae;
		padding-left: 17px;
		@include sp{
			padding-left: 0;
		}
	}
}

/*
------------------------------------------------------------*/
.c-book{
	font-size: 2.1rem;
	line-height: 27px;
	font-weight: bold;
	display: inline-block;
	position: relative;
	@include sp{
		font-size: 1.4rem;
		line-height: 1.35rem;
	}

	//-------------------------------------------------------
	&:before {
		content: "";		
		position: absolute;
		width: 19px;
		height: 20px;
		background: url(../image/index/in-27.png) no-repeat center;
		top: 4px;
    	left: 4px;
    	@include sp{
    		width: 12px;
    		height: 12px;
    		background-size: contain;
    		top: 0;
    		left:0;
    	}
	}
}

/*
------------------------------------------------------------*/
.c-pro{
	width: 1000px;
	padding: 30px;
	margin: 0 auto;
	display: flex;
	border: 1px solid #c8c8c8;
	@include sp{
		width: 100%;
		padding: 15px;
		flex-wrap: wrap;
	}

	//-------------------------------------------------------
	&__avatar{
		margin-right: 28px;
		@include sp{
			margin-right: 0;
			width: 136px;
    		margin: 0 auto;
		}
	}

	//-------------------------------------------------------
	h6{
		font-size: 1.8rem;
		line-height: 40px;
		@include sp{
			font-size: 1.6rem;
			line-height: rem;
			text-align: center;
		}
	}

	//-------------------------------------------------------
	p{
		font-size: 1.5rem;
		line-height: 22px;
		letter-spacing:0;
		padding-top: 3px;
		@include sp{
			font-size: 1.2rem;
			line-height: 1.6rem;
		}
	}

	//-------------------------------------------------------
	li{
		font-size: 1.5rem;
		line-height: 22px;
		position: relative;
		margin-bottom: 7px;
		@include sp{
			font-size: 1.2rem;
			line-height: 1.6rem;
		}
		&:before {
			content: "";
			width: 7px;
			height: 7px;
			display: inline-block;
			border-radius: 50%;
			background: #33c49d;
			position: absolute;
			left: -19px;
			top: 7px;
			@include sp{
				width: 4px;
				height: 4px;
				left: -10px;
				top: 3px;
			}
		}
	}

	//-------------------------------------------------------
	&__txt1{
		margin-bottom: 14px;
		@include sp{
			margin-bottom: 31px;
		}
	}

	//-------------------------------------------------------
	&__txt2{
		background: #f0f0f0;
		padding: 27px 30px 18px 50px;
		@include sp{
			padding: 13px 23px;
		}
	}
}

/*
------------------------------------------------------------*/
.c-imgdummy{
	position: relative;
	width: 272px;
	@include sp{
		width: 48%;
		margin-bottom: 10px;
	}

	//-------------------------------------------------------
	p{
		font-size: 1.8rem;
		line-height: 27px;
		color: #ff0000;
		position: absolute;
	    letter-spacing: 1px;
	    top: 43%;
    	left: 32.5%;
    	@include sp{
    		font-size: 0.9rem;
    		line-height: 1.35px;
    		top: 50%;
    		left: 32.5%;
    	}
	}

	//-------------------------------------------------------
	img{
		opacity:0.5;
	}
}

/*
------------------------------------------------------------*/
.c-accord{

	//-------------------------------------------------------
	&__title{
		padding: 14px 16px 16px;
		border: 1px solid #c8c8c8;
		position: relative;
		display: flex;
		align-items: center;
		p{
			font-size: 1.8rem;
			font-weight: bold;
			margin-right: 15px;
		}
		&:after {
			content: "";
			background: url(../image/index/sp-08.png) no-repeat center;
			background-size: auto;
			width: 20px;
			height: 20px;
			display: block;
			position: absolute;
			right: 16px;
		    top: 17px;
		}
		span{
			font-size: 1rem;
			color:#999;
		}
	}

	//-------------------------------------------------------
	&__panel{
		padding: 15px;
		display: none;
	}

	//-------------------------------------------------------
	th,td{
		font-size: 1.2rem;
		border: 1px solid #c8c8c8;
		padding: 17px 0;

	}

	//-------------------------------------------------------
	table{
		width: 100%;
		border-collapse: collapse;
	}

	//-------------------------------------------------------
	th{
		text-align: left;
		padding-left: 15px;
		width: 44.8%;
		background: #fbfbfb;
	}

	//-------------------------------------------------------
	td{
		padding-left: 15px;
	}

	//-------------------------------------------------------
	.active{
		&:after {
			content: "";
			background: url(../image/index/sp-09.png) no-repeat center;
			background-size: auto;
			width: 20px;
			height: 2px;
			display: block;
			position: absolute;
			right: 16px;
		    top: 27px;
		}
	}
}